html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

:root {
  /* Colors */
  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.attribution {
  grid-area: attribution;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: grid;
  grid-template-columns: minmax(288px, 500px);
  grid-template-rows: repeat(5, auto) 20px;
  grid-template-areas:
    "info"
    "score"
    "review"
    "review"
    "review"
    "attribution";
  justify-content: center;
  align-content: center;
  margin: 2rem 2rem;
}

.main__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.main__info-title {
  margin: 0 0 1rem 0;
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 2.5rem;
}

.main__info-text {
  margin: 0;
  color: var(--dark-grayish-magenta);
  font-weight: 400;
  margin-bottom: 2rem;
}

.main__score-cards {
  grid-area: score;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.main__reviews-cards {
  grid-area: review;
  margin-bottom: 4rem;
}

.review-card__user-category {
  color: rgba(238, 104, 164, 0.503);
  font-weight: 400;
}

.review-card__user-description {
  display: flex;
  color: var(--white);
  padding: 3rem 1rem 0 1rem;
}

.review-card__user-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: flex-end;
}

.review-card__user-info {
  list-style: none;
  margin-left: 1rem;
  padding-left: 0;
}

.review-card__user-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.review-card__user-review {
  color: var(--light-grayish-magenta);
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0 1rem;
  margin: 1.3rem 0;
}

.review-card {
  height: 250px;
  background-color: var(--very-dark-magenta);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.score-card {
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: 500;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.score-card__stars {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.score-card__star {
  list-style: none;
  margin-left: 0.5rem;
}

.score-card__rated-category {
  margin: 0;
}

@media (min-width: 991px) {
  .main {
    max-width: 1044px;
    height: 100vh;
    grid-template-columns: repeat(2, auto) 450px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "info         .        score"
      "review    review    review"
      "  .    attribution     .  ";
    margin-left: auto;
    margin-right: auto;
  }

  .main__info {
    justify-content: flex-start;
    text-align: left;
  }
  .main__info-title {
    font-size: 4rem;
  }
  .main__reviews-cards {
    display: flex;
    justify-content: space-around;
  }
  .main__user-review-card {
    margin-right: 1.5rem;
    max-width: calc((1044px / 3) - 1.5rem);
  }

  .score-card {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.75rem;
  }

  .main__score-card_review-position {
    margin-left: -7rem;
  }
  .main__score-card_guru-position {
    margin-left: -4rem;
  }

  .main__user-review-card_center-card-position {
    margin-top: 2rem;
  }
  .main__user-review-card_right-card-position {
    margin-top: 4rem;
    margin-right: 0;
  }
}
